[user]
	name = Jaxel Rojas
	email = jaxelr@gmail.com
	signingkey = <...Key Goes Here....>
[core]
	autocrlf = true
[diff]
    tool = vscode
[merge]
    tool = vscode
[commit]
	gpgsign = false
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
    cmd = code --wait $MERGED
[include]
	path = ~/.gitconfig.aliases
# Add this only if you need multiple emails/users for multiple profiles (work/personal)
# [includeIf "gitdir:~/src/work/"]
# 	path = ~/src/work/.gitconfig
[rebase]
	autoStash = true
