[user]
	name = Jaxel Rojas
	email = jaxelr@gmail.com
	signingkey = <...Key Goes Here....>
[core]
	autocrlf = true
[merge]
	tool = beyondcompare4
[diff]
	guitool = beyondcompare4
[commit]
	gpgsign = false
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[difftool "sourcetree"]
	path = C:\\Program Files\\Beyond Compare 4\\bcomp.exe
    cmd = \"C:\\Program Files\\Beyond Compare 4\\bcomp.exe" \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	path = C:\\Program Files\\Beyond Compare 4\\bcomp.exe
    cmd = \"C:\\Program Files\\Beyond Compare 4\\bcomp.exe" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[include]
	path = ~/.gitconfig.aliases
[rebase]
	autoStash = true
